{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "src/**/*.spec.js",
              "src/js/*.js",
              "*.js"
            ]
          }
        ]
      ]
    }
  }
}