.awesome + label::before {
    display: inline-block; /*不换行空格*/
    margin-right: .2em;
    width: .8em;
    height: .8em;
    border-radius: .2em;
    background: silver;
    content: '\a0';
    vertical-align: .1em;
    text-indent: .15em;
    line-height: .65;
}

.awesome:checked + label::before {
    background: #337ab7;
    content: '\2713';
}

.awesome {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.content-list {
    width: 100%;
}

.view-buttons {
    margin: 0 0 .5em 0;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}